<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <selectedTab>0</selectedTab>
  <increment>10000</increment>
  <toggleContinueAudioOnLostFocus>false</toggleContinueAudioOnLostFocus>
  <highlightObjectsToggle>false</highlightObjectsToggle>
  <toggleShiftClickToUseInventorySlot>false</toggleShiftClickToUseInventorySlot>
  <toggleShiftClickToFastTransfer>false</toggleShiftClickToFastTransfer>
  <enableLoadWithMissingBlueprints>false</enableLoadWithMissingBlueprints>
  <toggleZoomableLocalMaps>false</toggleZoomableLocalMaps>
  <toogleShowInterestingNPCsOnQuestTab>false</toogleShowInterestingNPCsOnQuestTab>
  <toggleShowInterestingNPCsOnLocalMap>false</toggleShowInterestingNPCsOnLocalMap>
  <toggleSkipAnyKeyToContinueWhenLoadingSaves>false</toggleSkipAnyKeyToContinueWhenLoadingSaves>
  <toggleZoomOnAllMaps>false</toggleZoomOnAllMaps>
  <toggleRotateOnAllMaps>false</toggleRotateOnAllMaps>
  <toggleScrollOnAllMaps>false</toggleScrollOnAllMaps>
  <toggleCameraPitch>false</toggleCameraPitch>
  <toggleCameraElevation>false</toggleCameraElevation>
  <toggleFreeCamera>false</toggleFreeCamera>
  <toggleInvertXAxis>false</toggleInvertXAxis>
  <toggleInvertKeyboardXAxis>false</toggleInvertKeyboardXAxis>
  <toggleInvertYAxis>false</toggleInvertYAxis>
  <toggleOffsetCameraHeight>false</toggleOffsetCameraHeight>
  <CameraElevationOffset>0</CameraElevationOffset>
  <fovMultiplier>1</fovMultiplier>
  <toggleNoPsychicPhenomena>false</toggleNoPsychicPhenomena>
  <customizePsychicPhenomena>false</customizePsychicPhenomena>
  <toggleInfiniteAbilities>false</toggleInfiniteAbilities>
  <toggleNoAttackCooldowns>false</toggleNoAttackCooldowns>
  <toggleUnlimitedActionsPerTurn>false</toggleUnlimitedActionsPerTurn>
  <toggleReallyUnlimitedActionsPerTurn>false</toggleReallyUnlimitedActionsPerTurn>
  <toggleEquipmentRestrictions>false</toggleEquipmentRestrictions>
  <toggleDialogRestrictions>false</toggleDialogRestrictions>
  <toggleDialogRestrictionsEverything>false</toggleDialogRestrictionsEverything>
  <toggleRestoreSpellsAbilitiesAfterCombat>false</toggleRestoreSpellsAbilitiesAfterCombat>
  <toggleInstantRestAfterCombat>false</toggleInstantRestAfterCombat>
  <toggleInfiniteItems>false</toggleInfiniteItems>
  <toggleAutomaticallyLoadLastSave>false</toggleAutomaticallyLoadLastSave>
  <toggleAllowAchievementsDuringModdedGame>true</toggleAllowAchievementsDuringModdedGame>
  <toggleSkipSplashScreen>false</toggleSkipSplashScreen>
  <toggleDLC1Theme>false</toggleDLC1Theme>
  <togglAutoEquipConsumables>false</togglAutoEquipConsumables>
  <toggleEquipItemsDuringCombat>false</toggleEquipItemsDuringCombat>
  <toggleUseItemsDuringCombat>false</toggleUseItemsDuringCombat>
  <toggleTeleportKeysEnabled>false</toggleTeleportKeysEnabled>
  <highlightHiddenObjects>false</highlightHiddenObjects>
  <highlightHiddenObjectsInFog>false</highlightHiddenObjectsInFog>
  <toggleUnlimitedStatModifierStacking>false</toggleUnlimitedStatModifierStacking>
  <disableTraps>false</disableTraps>
  <togglekillOnEngage>false</togglekillOnEngage>
  <disableWarpRandomEncounter>false</disableWarpRandomEncounter>
  <excludedRandomPhenomena />
  <excludedPerilsMinor />
  <excludedPerilsMajor />
  <freezeVeilThickness>false</freezeVeilThickness>
  <disableEndTurnHotkey>false</disableEndTurnHotkey>
  <toggleColorLootByRarity>false</toggleColorLootByRarity>
  <toggleShowRarityTags>false</toggleShowRarityTags>
  <minRarityToColor>None</minRarityToColor>
  <toggleMassLootEverything>false</toggleMassLootEverything>
  <toggleLootAliveUnits>false</toggleLootAliveUnits>
  <toggleShowHiddenLoot>false</toggleShowHiddenLoot>
  <toggleLootChecklistFilterBlueprint>false</toggleLootChecklistFilterBlueprint>
  <toggleLootChecklistFilterDescription>false</toggleLootChecklistFilterDescription>
  <lootChecklistFilterRarity>None</lootChecklistFilterRarity>
  <maxRarityToHide>None</maxRarityToHide>
  <SearchFilterCategories>Default</SearchFilterCategories>
  <InventoryItemSorterOptions>Default</InventoryItemSorterOptions>
  <toggleIgnorePrerequisiteStatValue>false</toggleIgnorePrerequisiteStatValue>
  <toggleIgnorePrerequisiteClassLevel>false</toggleIgnorePrerequisiteClassLevel>
  <toggleIgnoreCareerPrerequisites>false</toggleIgnoreCareerPrerequisites>
  <toggleFeaturesIgnorePrerequisites>false</toggleFeaturesIgnorePrerequisites>
  <toggleSetDefaultRespecLevelZero>false</toggleSetDefaultRespecLevelZero>
  <toggleSetDefaultRespecLevelFifteen>false</toggleSetDefaultRespecLevelFifteen>
  <toggleSetDefaultRespecLevelThirtyfive>false</toggleSetDefaultRespecLevelThirtyfive>
  <experienceMultiplier>1</experienceMultiplier>
  <experienceMultiplierCombat>1</experienceMultiplierCombat>
  <experienceMultiplierQuests>1</experienceMultiplierQuests>
  <experienceMultiplierSkillChecks>1</experienceMultiplierSkillChecks>
  <experienceMultiplierChallenges>1</experienceMultiplierChallenges>
  <experienceMultiplierSpace>1</experienceMultiplierSpace>
  <useCombatExpSlider>false</useCombatExpSlider>
  <useQuestsExpSlider>false</useQuestsExpSlider>
  <useSkillChecksExpSlider>false</useSkillChecksExpSlider>
  <useChallengesExpSlider>false</useChallengesExpSlider>
  <useSpaceExpSlider>false</useSpaceExpSlider>
  <fowMultiplier>1</fowMultiplier>
  <walkRangeMultiplier>1</walkRangeMultiplier>
  <sprintRangeMultiplier>1</sprintRangeMultiplier>
  <partyMovementSpeedMultiplier>1</partyMovementSpeedMultiplier>
  <buffDurationMultiplierValue>1</buffDurationMultiplierValue>
  <timeScaleMultiplier>1</timeScaleMultiplier>
  <alternateTimeScaleMultiplier>3</alternateTimeScaleMultiplier>
  <useAlternateTimeScaleMultiplier>false</useAlternateTimeScaleMultiplier>
  <allAttacksHit>Off</allAttacksHit>
  <allHitsCritical>Off</allHitsCritical>
  <rollWithAdvantage>Off</rollWithAdvantage>
  <rollWithDisadvantage>Off</rollWithDisadvantage>
  <alwaysRoll1>Off</alwaysRoll1>
  <neverRoll1>Off</neverRoll1>
  <alwaysRoll1OutOfCombat>Off</alwaysRoll1OutOfCombat>
  <alwaysRoll50>Off</alwaysRoll50>
  <alwaysRoll100>Off</alwaysRoll100>
  <neverRoll100>Off</neverRoll100>
  <roll1Initiative>Off</roll1Initiative>
  <roll5Initiative>Off</roll5Initiative>
  <roll10Initiative>Off</roll10Initiative>
  <skillsTake1>Off</skillsTake1>
  <skillsTake25>Off</skillsTake25>
  <skillsTake50>Off</skillsTake50>
  <selectedPartyFilter>0</selectedPartyFilter>
  <namesToDisableVoiceOver />
  <searchLimit>100</searchLimit>
  <selectedBPTypeFilter>1</selectedBPTypeFilter>
  <searchText />
  <searchDescriptions>true</searchDescriptions>
  <showAttributes>false</showAttributes>
  <showAssetIDs>false</showAssetIDs>
  <showComponents>false</showComponents>
  <showElements>false</showElements>
  <showDisplayAndInternalNames>false</showDisplayAndInternalNames>
  <sortCollationByEntries>false</sortCollationByEntries>
  <showRatingForEnchantmentInventoryItems>true</showRatingForEnchantmentInventoryItems>
  <previewDialogResults>false</previewDialogResults>
  <previewDialogConditions>false</previewDialogConditions>
  <previewAlignmentRestrictedDialog>false</previewAlignmentRestrictedDialog>
  <toggleAllowAnyGenderRomance>false</toggleAllowAnyGenderRomance>
  <toggleMultipleRomance>false</toggleMultipleRomance>
  <toggleRemoteCompanionDialog>false</toggleRemoteCompanionDialog>
  <toggleExCompanionDialog>false</toggleExCompanionDialog>
  <toggleOverrideOccupation>false</toggleOverrideOccupation>
  <usedOccupations />
  <toggleShowAnswersForEachConditionalResponse>false</toggleShowAnswersForEachConditionalResponse>
  <toggleMakePreviousAnswersMoreClear>false</toggleMakePreviousAnswersMoreClear>
  <showEtudeComments>true</showEtudeComments>
  <toggleQuestHideCompleted>true</toggleQuestHideCompleted>
  <toggleQuestsShowUnrevealedObjectives>false</toggleQuestsShowUnrevealedObjectives>
  <toggleQuestInspector>false</toggleQuestInspector>
  <toggleIntrestingNPCsShowFalseConditions>false</toggleIntrestingNPCsShowFalseConditions>
  <toggleInterestingNPCsShowHidden>false</toggleInterestingNPCsShowHidden>
  <toggleShowGameIDs>false</toggleShowGameIDs>
  <toggleIgnoreAbilityAnyRestriction>false</toggleIgnoreAbilityAnyRestriction>
  <toggleIgnoreAbilityAoeOverlap>false</toggleIgnoreAbilityAoeOverlap>
  <toggleIgnoreAbilityLineOfSight>false</toggleIgnoreAbilityLineOfSight>
  <toggleIgnoreAbilityTargetTooFar>false</toggleIgnoreAbilityTargetTooFar>
  <toggleIgnoreAbilityTargetTooClose>false</toggleIgnoreAbilityTargetTooClose>
  <buffsToIgnoreForDurationMultiplier>
    <string>24cf3deb078d3df4d92ba24b176bda97</string>
    <string>e6f2fc5d73d88064583cb828801212f4</string>
    <string>bb1b849f30e6464284c1efd0e812d626</string>
    <string>f59aa0658cda4c7b82bf73c632a39650</string>
    <string>6179bbe7a7b4b674c813dedbca121799</string>
    <string>12f2f2cf326dfd743b2cce5b14e99b3c</string>
    <string>4e9ddf0456c4d65498ad90fe6e621c3b</string>
    <string>03b2f5afd3d54131967312a97fa5462e</string>
    <string>75f14be8cb1d4cf6abe5ec4abd598381</string>
    <string>e9a4c63018894996a2133b640d7c6dab</string>
    <string>d051ff5949794ca78ca3fbaeb26bd1a2</string>
    <string>4bc4450170dc4c2782ced03240e2009d</string>
    <string>8328890b12294dd79c82f3818369e0a5</string>
    <string>3801e343e55b47ddbdce3b537c32eef6</string>
    <string>fbfdca2aca3bb45458b6c0af4df7bb90</string>
    <string>a37592486280448dba8f78af33690ffe</string>
    <string>178ed2b0b04b4f5cb890009638ade3ea</string>
    <string>4840e9fb2bcd4c68b78e313d905e2132</string>
    <string>fa037b990d8c49ffa8977479a7a3eed7</string>
    <string>a474c827d6e1bfd46956b8d841a496c7</string>
    <string>f469d4c7e7a34c3984ce15f0f4431bbc</string>
    <string>222829a37640ceb47a810be9996b6159</string>
    <string>13b6a92f2bc47da4994f09bdb2a4a9e0</string>
    <string>89b501348d054d6408a930efd6105200</string>
    <string>0a52573d3076420b8ccdde7db49b4fcb</string>
    <string>a115039fdc47c7848a05390a294dbcbf</string>
    <string>f6164abbbbe246d3b9ac4c8a93e52456</string>
    <string>c3ac324ad4725434790d9544ab9d73ee</string>
    <string>65058aafc91a12042b158527f9d0506a</string>
    <string>f80bdf69ef8bc3743a9b18667ba9684e</string>
    <string>077f4430a10d3504b9078ab717334972</string>
    <string>6f33cd117281834468ee73e79a0367c6</string>
    <string>faa0697caa542f34688f82244ccc2c5f</string>
    <string>9906228821acb2a49ad1a013751de037</string>
    <string>98fa71575440d8a4d8ce15b70ece5568</string>
    <string>6382987b74a30884e83197077b2a5148</string>
    <string>002b4f05558eec844ab1c0cf5d0e714a</string>
    <string>efa4562d6a8161e48bf8b9498bac90f6</string>
    <string>b20644cbc292adf4ca2007a5ccd27c65</string>
    <string>27ae9c5de3920794fbca334bd131f085</string>
    <string>20d695886f0c0f24185ebd645c110298</string>
    <string>21ad57f770cad7c4eb5f91510120f170</string>
    <string>a0d09af0a86f78d4b9778e0b4ce0f069</string>
    <string>22e2eb141d3925c419932407f2d61217</string>
    <string>76bdae64447923a45853911f2abbdf05</string>
    <string>abb89285366b2c94898c1125a1a3747e</string>
    <string>61851fcdb9e95304e861e3843896282d</string>
    <string>547ec39778e37e3419ed67c887231241</string>
    <string>e6e98105f86eb904c9af0a2c1f5a6647</string>
    <string>cca470fbc764ba645b07d855c6af431b</string>
    <string>c2303ebc0d83671468644f7b42a420c0</string>
    <string>80c3307481e58fc45a56f21e3b5ec70c</string>
    <string>2778a8154f1e4e3a87b5bce12ec35ac8</string>
    <string>beb1f5e3c7e84de08d095af1be154b47</string>
    <string>e24693e33559eb8448ef27385e6c5a9c</string>
    <string>34dad0518f8eb4040938346f7b78ff8e</string>
    <string>d1a4d8957788d8f4ead60f09aa228382</string>
    <string>b00cd2d31d2d87148a6dad31caa697a8</string>
    <string>a94647a0e45c86445adcbc91ac25b0bf</string>
    <string>d03be82c4ffd14840a89e600e910ae7d</string>
    <string>2a09996f7f5f9f845a1b58d0a759621d</string>
    <string>f3dced28095610f459fef4441012ffc1</string>
    <string>1ad64500bb3364442a9c7d28cf9a24d3</string>
    <string>6f3da77a44fa7304fac61c07a01964a5</string>
    <string>c1cbd350af845214b8ef11b0da9dd304</string>
    <string>ba2a266ffb7fb6246831ae72eee08d20</string>
    <string>12fd1d05f54fe07479ac48eff49265dc</string>
    <string>73921d85ed0d684408c5b5f23b6f4360</string>
    <string>69d4d478357f1fc49bb38c6c64b0bb48</string>
    <string>a009621bc2d137c4d89f15eff9f10792</string>
    <string>34e1e519e3dca424ab9914256acc79b1</string>
    <string>245d0006a26235a4f9d8bfdb5d5e303d</string>
    <string>6d1f2d9d46484ba4ab052f65f5d0b422</string>
    <string>05f4111baf9924a4c9efa35835c1e302</string>
    <string>5616b7189359a784396275b470e6dd8b</string>
    <string>7e20d7440c9b4872b44fa3b9fd0d125e</string>
    <string>24775ab6c0c7403082b3fedeff76d28d</string>
    <string>cfc52ecc6fb34cdfac78fa3986aeb221</string>
    <string>d868546877b2de24388fbdd5741d0c95</string>
    <string>8b765e0ef53b4e8e9b495a685e00b8d7</string>
    <string>34762bab68ec86c45a15884b9a9929fc</string>
    <string>5c9ef8224acdbab4fbaf59c710d0ef23</string>
    <string>0d02b41741498e8478695d77ab527b03</string>
    <string>a98394128e4c41509c1a873e4faf914a</string>
    <string>99d08a20ac1f4da3b9db2ed3db38a898</string>
    <string>72f7f1a64a634b84b64c4cd59ef19ad5</string>
    <string>2936f138e42c6bd459c4bbd300cddc78</string>
    <string>6f47e92597a27384bbfe3bcdf2d05566</string>
    <string>d4fe4b361568cbf4c816fcd6f39b79be</string>
    <string>7039b533f248a9a4aa3abffd6e83c9ca</string>
    <string>69bb26014fdb0484d9d3e711b874f853</string>
    <string>d50c08a3c00775241ac781932fc3aa02</string>
    <string>a7a5d1143490dae49b8603810866cf4d</string>
    <string>4934c3a12cfa4f4488834bdcea3b6fbc</string>
    <string>08af6d8af6241c84ea66baeafc8222b9</string>
    <string>85e11efe92991694882cfdb417a941bd</string>
    <string>f4cb0148083231745a9cd971fc6ee9c9</string>
    <string>e6f07f58f07b47b1b83d595c5a7a3baf</string>
    <string>3e75d2d398aa60f44849757d011a27f8</string>
    <string>2730acd272e412e47a32f680a68d0a1f</string>
  </buffsToIgnoreForDurationMultiplier>
  <toggleAddFlatEnemyMods>false</toggleAddFlatEnemyMods>
  <toggleAddMultiplierEnemyMods>false</toggleAddMultiplierEnemyMods>
  <flatEnemyMods>
    <item>
      <key>
        <StatType>Unknown</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>HitPoints</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SaveFortitude</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SaveWill</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SaveReflex</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillAthletics</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>AttackOfOpportunityCount</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillAwareness</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillCoercion</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>TemporaryHitPoints</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillTechUse</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Initiative</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillPersuasion</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Speed</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillCarouse</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillDemolition</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillMedicae</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillLoreXenos</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillLoreWarp</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillLoreImperium</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillCommerce</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillLogic</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>CheckBluff</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>CheckDiplomacy</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>CheckIntimidate</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerBallisticSkill</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerWeaponSkill</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerStrength</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerToughness</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerAgility</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerIntelligence</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerWillpower</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerPerception</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerFellowship</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerInitialAPBlue</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerInitialAPYellow</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>DamageNonLethal</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Resolve</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ArmourFore</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ArmourPort</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ArmourStarboard</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ArmourAft</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Inertia</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Power</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Aiming</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>RevealRadius</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>DetectionRadius</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ShieldsAmount</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ShieldsRegeneration</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Morale</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Discipline</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>InspirationInitialAmount</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>InspirationRegeneration</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Crew</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>TurretRating</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>TurretRadius</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>MilitaryRating</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>PsyRating</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>DamageDeflection</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>DamageAbsorption</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Evasion</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>MachineTrait</StatType>
      </key>
      <value>
        <float>0</float>
      </value>
    </item>
  </flatEnemyMods>
  <multiplierEnemyMods>
    <item>
      <key>
        <StatType>Unknown</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>HitPoints</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SaveFortitude</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SaveWill</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SaveReflex</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillAthletics</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>AttackOfOpportunityCount</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillAwareness</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillCoercion</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>TemporaryHitPoints</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillTechUse</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Initiative</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillPersuasion</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Speed</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillCarouse</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillDemolition</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillMedicae</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillLoreXenos</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillLoreWarp</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillLoreImperium</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillCommerce</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>SkillLogic</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>CheckBluff</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>CheckDiplomacy</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>CheckIntimidate</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerBallisticSkill</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerWeaponSkill</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerStrength</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerToughness</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerAgility</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerIntelligence</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerWillpower</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerPerception</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerFellowship</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerInitialAPBlue</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>WarhammerInitialAPYellow</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>DamageNonLethal</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Resolve</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ArmourFore</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ArmourPort</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ArmourStarboard</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ArmourAft</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Inertia</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Power</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Aiming</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>RevealRadius</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>DetectionRadius</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ShieldsAmount</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>ShieldsRegeneration</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Morale</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Discipline</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>InspirationInitialAmount</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>InspirationRegeneration</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Crew</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>TurretRating</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>TurretRadius</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>MilitaryRating</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>PsyRating</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>DamageDeflection</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>DamageAbsorption</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>Evasion</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
    <item>
      <key>
        <StatType>MachineTrait</StatType>
      </key>
      <value>
        <float>1</float>
      </value>
    </item>
  </multiplierEnemyMods>
  <loggingLevel>Info</loggingLevel>
  <stripHtmlTagsFromNativeConsole>true</stripHtmlTagsFromNativeConsole>
  <stripHtmlTagsFromUMMLogsTab>true</stripHtmlTagsFromUMMLogsTab>
  <toggleDevopmentMode>false</toggleDevopmentMode>
  <toggleAlwaysUpdate>false</toggleAlwaysUpdate>
  <toggleGuidsClipboard>false</toggleGuidsClipboard>
  <toggleEnableDangerousPatchToolPatches>false</toggleEnableDangerousPatchToolPatches>
  <toggleRiskyToggles>false</toggleRiskyToggles>
  <onlyShowLanguagesWithFiles>true</onlyShowLanguagesWithFiles>
  <BlueprintsLoaderNumThreads>3</BlueprintsLoaderNumThreads>
  <BlueprintsLoaderChunkSize>100</BlueprintsLoaderChunkSize>
  <BlueprintsLoaderNumShards>32</BlueprintsLoaderNumShards>
  <togglePreloadBlueprints>false</togglePreloadBlueprints>
  <toggleUseBPIdCache>true</toggleUseBPIdCache>
  <toggleAutomaticallyBuildBPIdCache>true</toggleAutomaticallyBuildBPIdCache>
  <shouldTryUpdate>true</shouldTryUpdate>
  <updateOnChecksumFail>true</updateOnChecksumFail>
  <disableOnChecksumFail>false</disableOnChecksumFail>
  <hasSeenUpdatePage>false</hasSeenUpdatePage>
  <toggleVersionCompatability>true</toggleVersionCompatability>
  <toggleIntegrityCheck>true</toggleIntegrityCheck>
  <disabledPatches />
  <showPatchToolEnums>true</showPatchToolEnums>
  <showPatchToolComplexTypes>true</showPatchToolComplexTypes>
  <showPatchToolBlueprintReferences>true</showPatchToolBlueprintReferences>
  <showPatchToolCollections>true</showPatchToolCollections>
  <showPatchToolPrimitiveTypes>true</showPatchToolPrimitiveTypes>
  <showPatchToolUnityObjects>false</showPatchToolUnityObjects>
  <showPatchToolDeleteButtons>false</showPatchToolDeleteButtons>
  <showPatchToolCreateButtons>false</showPatchToolCreateButtons>
  <togglePatchToolCollapseAllPathsOnPatch>false</togglePatchToolCollapseAllPathsOnPatch>
</Settings>